@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404</title>
    <style>
        body{
            padding:0;
            margin:0;
        }
        #imageDiv {
            height: 100%;
            background-image: url("/images/失街1.jpg");
            background-repeat: no-repeat;
            background-size:contain;
        }
    </style>
</head>
<body>
    <div id="imageDiv"></div>
</body>
</html>