@model Post

@{
    ViewData["Title"] = "Add";
}

@section css {
    <style>
        #editor {
            height: 28em;
        }
    </style>
}

@section scripts{
    <script src="/lib/tinymce/tinymce.min.js"></script>
    <script src="/lib/jquery-form/jquery.form.js"></script>
    <script>
        tinymce.init({
            selector: "#content",
            height: 400,
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools",
                "codesample",
                "uploadimage"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | codesample link image uploadimage",
            upload_image_url: "/Editor/Upload2"
        });
    </script>
}


<form asp-action="Add" method="post">
    <div>
        <input asp-for="Title" type="text" placeholder="文章标题..." class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <textarea id="content" name="Content">@if (Model != null)
    { @Html.Raw(WebUtility.HtmlDecode(Model.Content));
    }</textarea>
    <div>
        <select name="IsPublic">
            <option value="true">公开</option>
            <option value="false" selected>仅自己可见</option>
        </select>
        @Html.DropDownList("CategoryId",(SelectList)ViewBag.Category)
        <input name="tags" type="text" placeholder="文章标签;分号分隔;" />
        <button type="submit" class="btn btn-info">发布</button>
    </div>
</form>